<h2>About Me</h2>
<p>Hello! I'm Kelly and am learning Ruby on Rails. I am currently a Database Analyst, living and working in sunny San Deigo, CA. I enjoy programming and am just adding languages to my repertoire. I would love to be able to build my own web apps as well as some apps for my very talented family members who may one day like to sell there creations online. Happy to be here to learn, share and connect with other coders!</p>

<h2>About Pinteresting</h2>
<p>Pinteresting is the app I am creating while I learn ROR. I'm using the wonderful tutorial site <%= link_to "One Months Rails", "http://onemonthrails.com" %> and this is the app they are coaching me through. I am an avid pinterester so I am excited to be creating an app similar to that. I hope that users can use this app just as pinterest but without the suggested pins and without the overwhelming amount of pins that are on the main site. Enjoy pinnning and pining over your pins :)</p>

<h3>So let's find out what you find Pinteresting...</h3>