@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

$body-bg:					 #edf0f1;
$btn-default-bg: 			 #ffffff;
$font-family-sans-serif:     'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*$navbar-default-link-color:  #c0392b;*/
$navbar-height:				 45px;
$navbar-default-bg:			 white;
$navbar-default-brand-color: #c0392b;
$brand-primary:              #c0392b;
$jumbotron-bg:				 #ffffff;
$jumbotron-color:			 #383838 ;
$btn-primary-bg:			 #c0392b;
/*$btn-primary-color:			 #383838 ;*/
$btn-primary-border:		 darken($btn-primary-bg, 20%);

@import "bootstrap-sprockets"; 
@import 'bootstrap';

.center {
	text-align:center
}

.navbar-brand {
	font-weight: bold;
}